<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tutor.user.username }}'s Availability Calendar</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'peer_tutor/availability_calendar.css' %}">
</head>
<body>

<h2>{{ tutor.user.first_name }}'s Availability Calendar</h2>

<div>
    {{ calendar|safe }}  
</div>

<form action="{% url 'tutor:matching_tutors' %}" method="get">
    <button type="submit" class="back-button">Back</button>
</form>

</body>
</html>
