<!-- templates/tutoring/calendar.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tutor.user.username }}'s Calendar</title>
</head>
<body>
<h2>{{ tutor.user.username }}'s Available Slots</h2>

<table border="1">
    <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
    </tr>
    <tr>
        {{ calendar|safe }}
    </tr>
</table>

<a href="{% url 'tutor:edit_slots' %}">Edit Available Slots</a>

</body>
</html>