<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Subjects You Can Teach</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'peer_tutor/enter_tutor_subjects.css' %}">

</head>
<body>
    <div class="container">
        <h2>Subjects You Can Teach</h2>

    <form method="post", action="{% url 'tutor:enter_tutor_subjects' %}">
        {% csrf_token %}
        
            <label for="new_subject">Add New Subject:</label>
            <input type="text" id="new_subject" name="new_subject" required>
        
        <button type="submit">Add Subject</button>
    </form>

    <h3>Your Subjects:</h3>
    {% if subjects_list %}
        <ul>
            {% for subject in subjects_list %}
                <li>{{ subject }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No subjects entered yet.</p>
    {% endif %}
    <form action="{% url 'tutor:tutor_page' %}" method="get">
        <button type="submit" class="back-button">Back</button>
    </form>
    </div>
</div>

</body>
</html>