<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'peer_tutor/user_profile.css' %}">
</head>
<body>
    
        <form method="post" action="{% url 'tutor:user_profile' %}"> 
        <h2>Your Profile</h2>
        <p>Welcome to your profile! You can navigate to the following pages:</p>
    
        <a href="{% url 'tutor:tutor_page' %}" >Go to Tutor Page</a>
        <a href="{% url 'tutor:student_page' %}" >Go to Student Page</a>
        
        </form>

</body>
</html>